@{
    ViewBag.Title = "Về Chúng Tôi";
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area other_bread">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                        <li>/</li>
                        <li>Về Chúng Tôi</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--about section area -->
<div class="about_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about_content">
                    <h1>Chào Mừng Đến Với Fashion Shop!</h1>
                    <p>Chúng tôi tự hào đây là sản phẩm của những nhãn hàng uy tín. Đa dạng tư phong cách đến kiểu dáng cũng như giá thành hợp lý cùng nhiều chính sách ưu đãi hấp dẫn.</p>
                    <p>Đến với Fashion Shop - Nổi bật phong cách của bạn</p>
                    <div class="view__work">
                        <a href="@Url.Action("Index", "SanPham")">Sản Phẩm</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about_thumb">
                    <img src="~/Content/img/about/about1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--about section end-->
<!--counterup area -->
<div class="counterup_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single_counterup">
                    <div class="counter_img">
                        <img src="~/Content/img/about/count.png" alt="">
                    </div>
                    <div class="counter_info">
                        <h2 class="counter_number">2525</h2>
                        <p>khách ghé thăm</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single_counterup count-two">
                    <div class="counter_img">
                        <img src="~/Content/img/about/count2.png" alt="">
                    </div>
                    <div class="counter_info">
                        <h2 class="counter_number">2</h2>
                        <p>giải thưởng</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single_counterup">
                    <div class="counter_img">
                        <img src="~/Content/img/about/count3.png" alt="">
                    </div>
                    <div class="counter_info">
                        <h2 class="counter_number">643</h2>
                        <p>giờ mở bán</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single_counterup count-two">
                    <div class="counter_img">
                        <img src="~/Content/img/about/count4.png" alt="">
                    </div>
                    <div class="counter_info">
                        <h2 class="counter_number">12</h2>
                        <p>đối tác tin tưởng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--counterup end-->
<!--about progress bar -->
<div class="about_progressbar">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="progressbar_inner">
                    <h2>We have Skills to show</h2>
                    <div class="progress_skill one">
                        <div class="progress">
                            <div class="progress-bar about_prog wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".3s" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <span class="progress_persent">Ưu đãi</span>
                            </div>
                        </div>
                        <span class="progress_discount">60%</span>
                    </div>
                    <div class="progress_skill two">
                        <div class="progress">
                            <div class="progress-bar about_prog wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">

                                <span class="progress_persent">Đánh giá tích cực</span>
                            </div>

                        </div>
                        <span class="progress_discount">90%</span>
                    </div>
                    <div class="progress_skill three">
                        <div class="progress">
                            <div class="progress-bar about_prog wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".7s" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">

                                <span class="progress_persent">Khách hàng mua hàng từ website </span>
                            </div>

                        </div>
                        <span class="progress_discount">70%</span>
                    </div>
                    <div class="progress_skill four">
                        <div class="progress">
                            <div class="progress-bar about_prog wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".7s" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">

                                <span class="progress_persent">Đối tác tin tưởng </span>
                            </div>

                        </div>
                        <span class="progress_discount">80%</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="about__img">
                    <img src="~/Content/img/about/about2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--about progress bar end -->