@model fsShop.Models.NguoiDung

@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="user">
    <div class="user_options-container">
        <div class="user_options-text">
            <div class="user_options-unregistered">

            </div>

            <div class="user_options-registered">
                <h2 class="user_unregistered-title">Bạn chưa có tài khoản?</h2>
                <p class="user_unregistered-text">Hãy nhấn nút "Đăng ký" để tạo tài khoản!</p>
                <a href="@Url.Action("DangKy", "User")" class="user_unregistered-signup">Đăng Ký</a>
            </div>
        </div>

        <div class="user_options-forms bounceLeft" id="user_options-forms" style="min-height: 420px;">

            <div class="user_forms-signup">
                <h2 class="forms_title">Đăng Ký</h2>
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <form class="forms_form">
                        <fieldset class="forms_fieldset">
                            <div class="forms_field">
                                <input type="text" name="TenDN" placeholder="Email" class="forms_field-input" required="" autofocus="">
                                @ViewData["Loi1"]
                            </div>
                            <div class="forms_field">
                                <input type="password" name="Matkhau" placeholder="Password" class="forms_field-input" required="">
                                @ViewData["Loi2"]
                            </div>
                        </fieldset>
                        <div class="forms_buttons">
                            <button type="button" class="forms_buttons-forgot">Forgot password?</button>
                            <input type="submit" value="Log In" class="forms_buttons-action">
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</section>
