@model IEnumerable<fsShop.Models.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div> <p style="font: 18px bold red">  Sản phẩm theo loại         </p>  </div>
@foreach (var sach in Model)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <a href="@Url.Action("ChitietSP", "Website", new { id = sach.MaSanPham})">
                <div>
                    <br />
                    <h4 style="text-align:center">
                        @sach.TenSanPham
                    </h4>
                    <p></p>
                </div>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star">
                        </span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
        </div>
    </div>
}

